
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center container" style="margin-top:2em">
    <button onclick="Redirect('/Home/Starbucks')" class="btn btn-default col-xs-6 col-sm-6 col-md-6 col-lg-6">
        STARBUCKS
    </button>
    <button onclick="Redirect('/Home/Portal')" class="btn btn-default col-xs-6 col-sm-6 col-md-6 col-lg-6" >
        PORTAL
    </button>
</div>
<script>
    function Redirect(url) {
        window.location.href = url;
    }
</script>

