
@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portal Coffee Customer Management And Registration</h2>

<div class="container">
    <span>@ViewBag.Result</span>
    <form method="post" action="/Home/Portal">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" name="Name" class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Surname</label>
            <input type="text" name="Surname" class="form-control" placeholder="Enter Surname">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Mail</label>
            <input type="email" name="Mail" class="form-control" placeholder="Enter Mail">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="Password" class="form-control" placeholder="Enter Password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Telephone</label>
            <input type="number" name="Tel" class="form-control" placeholder="Enter Tel">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select class="form-control" name="Gender">
                <option value="null">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Birth Date</label>
            <input name="Birthdate" type="date" class="form-control" placeholder="Enter Birth Date">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Identitiy Number (Turkish Republic)</label>
            <input name="ID_NO" type="number" class="form-control" placeholder="Enter ID Number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>